extends ../layouts/mainlayout.pug

block styles
    link(rel="stylesheet", href="/styles/login.css")

block content
    main
        section.login
            form(action="/auth/signup", method="post", novalidate=(true)).login-form
                .form-control   
                    input(type="email", name="email",required=true, placeholder="Enter your email address", id="uemail", value=(message ? data.email : ''))
                    label(for="uemail").label-form Email Address :
                .form-control
                    
                     input(type="text", name="username", required=true, placeholder="Enter a username", id="usrname", value=(message ? data.username : '') )
                     label(for="usrname").label-form Username :
                .form-control
                    
                    input(type="text", name="firstname",  placeholder="Enter your firstname", id="fname", value=(message ? data.firstname : ''))
                    label(for="fname").label-form First Name :
                .form-control
                    
                    input(type="text", name="lastname",  placeholder="Enter your lastname", id="lname", value=(message ? data.lastname : ''))
                    label(for="lname").label-form Last Name :
                .form-control
                    
                    input(type="password", name="password", required=true, placeholder="Enter your password", id="upass")
                    label(for="upass").label-form Password :
                .form-control
                    
                    input(type="password", name="cpassword", required=true, placeholder="Confirm your password", id="ucpass")
                    label(for="ucpass").label-form Confirm Password :
                .form-message
                    if(message)
                        span.message__warn(id="password-span") #{message}
                input(type="hidden", name="_csrf", value=(csrfToken))
                .form-control
                    button.btn.btn-primary(type="submit") SignUp
            a(href="/auth/login").message__link Already have an account. Login Now